{%- comment -%}
  Product Media - No Media Size
  用于显示没有产品图片时的占位图
  
  参数:
  - se_stts: section settings
  - se_id: section id
  - image_ratio: 图片比例
  - imgatt: 图片属性
  - class_pswp_disable: pswp 禁用类
  - media_custom_img_enable: 是否启用自定义图片
  - media_custom_img: 自定义图片
  - media_heading: 媒体标题
  - product: 产品对象
{%- endcomment -%}

{%- assign image = settings.placeholder_img -%}
{%- if image != blank -%}
  <div class="t4s-product__no_media t4s-pr" timeline hdt-reveal="slide-in">
    <div
      data-t4s-gallery
      data-t4s-thumb-false
      data-main-media
      class="t4s-product__media-item t4s_{{ image_ratio }} t4s_position_{{ se_stts.image_position }} t4s_{{ se_stts.image_size }}"
    >
      <div
        data-t4s-gallery--open
        data-media-type="image"
        class="t4s_ratio t4s-product__media{{ class_pswp_disable }}"
        {{ imgatt }}style="--aspect-ratioapt:{{ image.aspect_ratio }};--mw-media:{{ image.width }}px"
      >
        <noscript>
          {{-
            image
            | image_url: width: 1500
            | image_tag:
              widths: '288, 576, 750, 1100, 1500',
              class: 't4s-img-noscript',
              loading: 'lazy',
              sizes: '(min-width: 1500px) 1500px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)'
          -}}
        </noscript>
        <img
          data-master="{{ image | image_url }}"
          class="lazyloadt4s t4s-lz--fadeIn"
          data-src="{{ image | image_url: width: 1 }}"
          data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]"
          data-optimumx="2"
          data-sizes="auto"
          src="{% render 'img_svg', w: image.width, h: image.height %}"
          width="{{ image.width }}"
          height="{{ image.height }}"
          alt="{{ image.alt | escape }}"
        ><span class="lazyloadt4s-loader"></span>
      </div>
    </div>
    <div
      data-product-single-badge
      data-sort="sale,new,soldout,preOrder,custom"
      class="t4s-single-product-badge lazyloadt4s t4s-pa t4s-pe-none t4s-op-0"
      data-rendert4s="css:{{ 'single-pr-badge.css' | asset_url }}"
    ></div>
    {%- if media_custom_img_enable and media_custom_img != blank -%}
      <div class="t4s-product-media-custom-img-{{ se_id }}">
        {{ media_custom_img | image_url: width: 400 | image_tag: loading: 'lazy', class: 't4s-obj-eff' }}
      </div>
    {%- endif -%}
    {%- if media_heading != blank -%}
      <div class="t4s-product-media-heading-{{ se_id }}">{{ media_heading }}</div>
    {%- endif -%}
    {%- render 'product-btns', se_stts: se_stts, product: product -%}
  </div>
{%- endif -%}
