{%- liquid
  assign bottom_title = block.settings.bottom_title | strip
  assign title_size = block.settings.title_font_size | default: 28
  assign title_weight = block.settings.title_font_weight | default: 600
  assign title_color = block.settings.title_color | default: '#2b2b2b'
  assign title_margin_top = block.settings.title_margin_top | default: 12
  assign show_block = false
  if bottom_title != blank or request.design_mode
    assign show_block = true
  endif
-%}

{%- if show_block -%}
  <div class="t4s-product-info__item t4s-custom-redirect-bottom-title-block" {{ block.shopify_attributes }}>
    <div
      class="t4s-product-form__custom-redirect-title t4s-product-form__custom-redirect-title--bottom"
      style="font-size: {{ title_size }}px; font-weight: {{ title_weight }}; color: {{ title_color }}; line-height: 1.3; margin: {{ title_margin_top }}px 0 0;"
    >
      {{ bottom_title | default: 'Bottom title' }}
    </div>
  </div>
{%- endif -%}
