{%- comment -%}
  Sticky Add to Cart Template
  参数:
  - product: 产品对象
  - current_variant: 当前变体
  - se_stts: section settings
  - pr_se_id: 产品 section ID
  - isSticky: 是否启用 sticky
  - PR_no_pick: 是否未选择变体
  - isProductAvailable: 产品是否可用
  - variants_size: 变体数量
  - isPreoder: 是否预购
  - cus_qty: 自定义数量
{%- endcomment -%}

{%- if isSticky and product != blank and isExternal == false -%}
  {%- liquid
    assign current_inventory_quantity = current_variant.inventory_quantity
    if current_variant.inventory_management != null and current_inventory_quantity > 0 and current_variant.inventory_policy != 'continue'
      assign max_qty = current_inventory_quantity
    else
      assign max_qty = 9999
    endif
    if current_variant.quantity_rule.max and max_qty > current_variant.quantity_rule.max
      assign max_qty = current_variant.quantity_rule.max
    endif
  -%}

  <link href="{{ 'sticky-atc.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
  {%- if se_stts.ani != 'none' -%}
    <link href="{{ 'ani-atc.min.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
  {%- endif -%}
  
  <template class="t4s-d-none" id="t4s-sticky-atc-temp">
    <div
      data-sticky-addtocart
      class="t4s-sticky-atc sticky_layout_mb--{{ se_stts.sticky_layout_mb }} t4s-pf t4s-b-0 t4s-l-0 t4s-r-0 t4s-op-0 t4s-pe-none"
      {% if PR_no_pick %}hidden{% endif %}
    >
      {%- if request.design_mode -%}
        <link href="{{ 'sticky-atc.css' | asset_url }}" rel="stylesheet" media="all">
      {%- endif -%}
      
      <div class="t4s-sticky-atc__product">
        {%- liquid
          assign image = current_variant.featured_image | default: product.featured_image
          assign img_url = image | image_url: width: 1
        -%}
        
        <div data-sticky-img class="t4s-sticky-atc__img t4s-pr">
          <img
            class="lazyloadt4s t4s-lz--fadeIn"
            data-orginal="{{ img_url }}"
            data-src="{{ img_url }}"
            data-widths="[65,120]"
            data-optimumx="2"
            data-sizes="auto"
            src="{% render 'img_svg', w: image.width, h: image.height %}"
            width="{{ image.width }}"
            height="{{ image.height }}"
            alt="{{ image.alt | escape }}"
          >
          <span class="lazyloadt4s-loader is-bg-img" style="background: url({{ img_url }})"></span>
        </div>
        
        <div class="t4s-sticky-atc__infos">
          <div class="t4s-sticky-atc__title">{{ product.title }}</div>
          <div data-sticky-price class="t4s-sticky-atc__price">
            {% if current_variant.compare_at_price > current_variant.price -%}
              <del>{{ current_variant.compare_at_price | money }}</del> <ins>{{ current_variant.price | money }}</ins>
            {%- else -%}
              {{- current_variant.price | money -}}
            {%- endif %}
          </div>
        </div>

        {%- if variants_size > 1 and se_stts.sticky_layout_mb == 'minimal' -%}
          <button type="button" class="t4s-sticky-close" data-action-info-close aria-label="Close">
            <svg role="presentation" class="t4s-iconsvg-close" viewBox="0 0 16 14">
              <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
            </svg>
          </button>
        {%- endif -%}

        <div
          {% if variants_size > 1 %}data-sticky-v-title{% endif %}
          class="t4s-sticky-atc__v-title"
        >
          {%- unless isProductDefault -%}
            {%- if se_stts.enable_select -%}
              <link rel="stylesheet" href="{{ 'base_drop.min.css' | asset_url }}" media="all">
              <div class="t4s-dropdown t4s-dropdown__sortby">
                <button
                  type="button"
                  data-dropdown-open
                  data-position="bottom-end"
                  data-id="t4s__dropdown-{{ pr_se_id }}"
                  class="t4s-truncate"
                >
                  <span>{{ current_variant.title | escape }}</span>
                  <svg class="t4s-icon-select-arrow" role="presentation" viewBox="0 0 19 12">
                    <use xlink:href="#t4s-select-arrow"></use>
                  </svg>
                </button>
                <div
                  data-dropdown-wrapper
                  class="t4s-dropdown__wrapper t4s-current-scrollbar"
                  id="t4s__dropdown-{{ pr_se_id }}"
                >
                  <div class="t4s-drop-arrow"></div>
                  <div class="t4s-dropdown__header">
                    <span class="t4s-dropdown__title"></span
                    ><button data-dropdown-close="" aria-label="Close">
                      <svg role="presentation" class="t4s-iconsvg-close" viewBox="0 0 16 14">
                        <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
                      </svg>
                    </button>
                  </div>
                  <div data-sticky-select class="t4s-dropdown__content t4s-current-scrollbar">
                    {%- for variant in pr_variants -%}
                      {%- if variant.available -%}
                        <button
                          data-dropdown-item
                          data-value="{{ variant.id }}"
                          {% if variant.id == current_variant.id %}class="is--selected"{% endif %}
                        >
                          {{ variant.title | escape }}
                        </button>
                      {%- else -%}
                        <button
                          data-dropdown-item
                          data-value="{{ variant.id }}"
                          disabled="disabled"
                          {% if variant.id == current_variant.id %}class="is--selected"{% endif %}
                        >
                          {{ variant.title | escape }} - {{ 'products.product.sold_out' | t | escape }}
                        </button>
                      {%- endif -%}
                    {%- endfor -%}
                  </div>
                </div>
              </div>
            {%- else -%}
              {{ current_variant.title }}
            {%- endif -%}
          {%- endunless -%}
        </div>
      </div>
      
      <div class="t4s-sticky-atc__btns">
        <div data-quantity-wrapper class="t4s-quantity-wrapper t4s-sticky-atc__qty">
          <button data-quantity-selector data-decrease-qty type="button" class="t4s-quantity-selector is--minus">
            <svg focusable="false" class="icon icon--minus" viewBox="0 0 10 2" role="presentation">
              <path d="M10 0v2H0V0z" fill="currentColor"></path>
            </svg>
          </button>
          <input
            data-quantity-value
            type="number"
            class="t4s-quantity-input"
            step="{{ current_variant.quantity_rule.increment | default: 1 }}"
            min="{{ cus_qty }}"
            max="{{ max_qty }}"
            name="quantity"
            value="{{ cus_qty }}"
            size="4"
            pattern="[0-9]*"
            inputmode="numeric"
          >
          <button data-quantity-selector data-increase-qty type="button" class="t4s-quantity-selector is--plus">
            <svg focusable="false" class="icon icon--plus" viewBox="0 0 10 10" role="presentation">
              <path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z" fill="currentColor" fill-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <button
          {% if variants_size > 1 and se_stts.sticky_layout_mb == 'minimal' %}data-action-delay{% endif %}
          data-animation-atc='{ "ani":"{{ se_stts.ani }}","time":{{ se_stts.time }}000 }'
          type="button"
          data-action-atc
          data-variant-id="{{ current_variant.id }}"
          class="t4s-sticky-atc__atc t4s-btn-loading__svg"
          {% unless current_variant.available %}aria-disabled="true"{% endunless -%}
          {% unless isProductAvailable %}disabled="disabled"{% endunless %}
          {% if se_stts.sticky_atc_bg_color or se_stts.sticky_atc_text_color %}
            style="{% if se_stts.sticky_atc_bg_color %}background-color: {{ se_stts.sticky_atc_bg_color }};{% endif %}{% if se_stts.sticky_atc_text_color %}color: {{ se_stts.sticky_atc_text_color }};{% endif %}"
          {% endif %}
        >
          <span class="t4s-btn-atc_text">
            {%- if current_variant.available == false or isProductAvailable == false -%}
              {{- 'products.product.sold_out' | t -}}
            {%- elsif isPreoder -%}
              {{- 'products.product.pre_order' | t }}
            {%- else -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- endif -%}
          </span>
          <span class="t4s-loading__spinner" hidden>
            <svg
              width="16"
              height="16"
              hidden
              class="t4s-svg-spinner"
              focusable="false"
              role="presentation"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="t4s-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </template>
{%- endif -%}
