{%- comment -%}
t4s_group_btns
t4s_group_btns_split
{%- endcomment -%}

{%- case se_stts.h_icon -%}

  {%- when 'kalles' -%}
	  <svg xmlns="http://www.w3.org/2000/svg" class="t4s-d-none">
		  <symbol id="icon-h-search" viewBox="0 0 36 36" fill="none">
		    <defs><clipPath id="master_svg0_75_42696"><rect x="-1" y="-1" width="38" height="38" rx="0"/></clipPath></defs>
		    <g clip-path="url(#master_svg0_75_42696)">
		      <path d="M7.5147295,7.5147288Q4.00000107,11.0294571,4.00000125,16Q4,20.970543,7.5147288,24.485271Q11.029458,28,16,28Q20.970543,28,24.485271,24.485271Q28,20.970543,28,16Q28,11.029458,24.485271,7.5147295Q20.970543,4.00000107,16,4.00000125Q11.029458,4,7.5147295,7.5147288ZM8.9289424,23.07106Q6,20.142117,6,16Q6.000001,11.8578849,8.928943199999999,8.9289424Q11.8578863,6,16,6.0000013Q20.142117,6.000001,23.07106,8.928943199999999Q26,11.8578849,26,16Q26,20.142118,23.07106,23.07106Q20.142118,26,16,26Q11.8578835,26,8.9289424,23.07106Z" fill-rule="evenodd" fill="currentColor" fill-opacity="1"/>
		      <path d="M24.70677578,23.29284507L24.70691711,23.29270369L31.9927654,30.5746455L31.9926238,30.5747871Q32.1333351,30.7154231,32.2094917,30.8992119Q32.2856483,31.0830002,32.2856483,31.2819424Q32.2856483,31.3804135,32.2664375,31.4769931Q32.2472267,31.5735722,32.2095432,31.6645484Q32.1718597,31.7555246,32.1171513,31.8374004Q32.0624428,31.9192767,31.992813599999998,31.9889069Q31.9231834,32.0585365,31.8413067,32.1132441Q31.759430899999998,32.1679516,31.6684546,32.205636Q31.5774789,32.2433195,31.4808998,32.2625303Q31.3843203,32.2817421,31.2858486,32.2817421Q31.087046100000002,32.2817421,30.9033661,32.2056885Q30.7196856,32.1296349,30.5790725,31.989097100000002L30.5789313,31.9892383L23.29308289,24.70729631L23.29322422,24.70715493Q23.15251309,24.5665192,23.076356529999998,24.38273072Q23.00020003,24.19894226,23.00019997,24Q23.00020003,23.901528291,23.01941091,23.8049487Q23.03862178,23.70836911,23.07630527,23.61739314Q23.11398876,23.52641714,23.1686967,23.44454092Q23.22340465,23.3626647,23.29303467,23.29303467Q23.3626647,23.22340465,23.44454092,23.16869676Q23.52641714,23.11398882,23.61739314,23.07630533Q23.70836911,23.03862178,23.8049487,23.01941091Q23.901528291,23.00020003,24,23.00019997Q24.1988029,23.00020003,24.38248304,23.07625401Q24.56616318,23.15230787,24.70677578,23.29284507Z" fill-rule="evenodd" fill="currentColor" fill-opacity="1"/>
		    </g>
		  </symbol>
		  <symbol id="icon-h-account" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.2" fill="none" stroke-linecap="round" stroke-linejoin="round">
		  	<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle>
		   </symbol>
		  <symbol id="icon-h-heart" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.2" fill="none" stroke-linecap="round" stroke-linejoin="round">
		  	<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
		   </symbol>
		  <symbol id="icon-h-cart" viewBox="0 0 36 36" fill="none">
		    <defs><clipPath id="master_svg0_75_42699"><rect x="0" y="0" width="36" height="36" rx="0"/></clipPath></defs>
		    <g clip-path="url(#master_svg0_75_42699)">
		      <path d="M4.15643886,31.854553C4.071944349,33.013334,4.98928475,34,6.1511426,34L29.848858,34C31.010715,34,31.928055,33.013334,31.843561,31.854553L30.385227,11.8545527C30.309002,10.80919039,29.438662,10,28.390524,10L7.6094766,10C6.5613389,10,5.6909965,10.80919039,5.6147722,11.8545525L4.15643886,31.854553ZM6.1511431000000005,32L29.848858,32L28.390524,12L7.6094767999999995,12L6.1511431000000005,32Z" fill-rule="evenodd" fill="currentColor" fill-opacity="1"/>
		      <path d="M11,10.000001000000001L11,18.000000999999997L11.00019997,18.000000999999997Q11.00020003,18.098473,11.01941091,18.195051Q11.03862178,18.291629999999998,11.07630527,18.382606Q11.11398876,18.473581,11.1686967,18.555458Q11.223404649999999,18.637335,11.29303467,18.706964Q11.3626647,18.776594,11.44454092,18.831301Q11.52641714,18.886009,11.61739314,18.923693Q11.70836911,18.961376,11.8049487,18.980587999999997Q11.901528291,18.999799,12,18.9998Q12.098471709,18.999799,12.1950513,18.980587Q12.29163089,18.961376,12.38260686,18.923693Q12.47358286,18.886009,12.55545908,18.831302Q12.6373353,18.776594,12.70696533,18.706964Q12.776595350000001,18.637334,12.83130324,18.555458Q12.88601118,18.473581,12.92369467,18.382604999999998Q12.96137822,18.291629999999998,12.98058909,18.195050000000002Q12.99979997,18.098471,12.99980003,18L13,18.000000999999997L13,10.000001000000001Q13,7.9289322,14.4644661,6.4644661Q15.928932,5.0000004,18,5Q20.0710688,5,21.5355339,6.4644659Q23,7.9289322,23,10L23,18.000000999999997L23.0002,18.000000999999997Q23.000199000000002,18.098473,23.01941,18.195051Q23.03862,18.291629999999998,23.076303,18.382606Q23.113987,18.473581,23.168695,18.555458Q23.223402999999998,18.637335,23.293034,18.706964Q23.362662999999998,18.776594,23.44454,18.831301Q23.526415,18.886009,23.617392000000002,18.923693Q23.708368,18.961376,23.804948,18.980587999999997Q23.901527,18.999799,24,18.9998Q24.098471,18.999799,24.195050000000002,18.980587Q24.291629999999998,18.961376,24.382607,18.923693Q24.473582,18.886009,24.555459,18.831302Q24.637335,18.776594,24.706965,18.706964Q24.776595999999998,18.637334,24.831304,18.555458Q24.886011,18.473581,24.923695000000002,18.382604999999998Q24.961378,18.291629999999998,24.980589000000002,18.195050000000002Q24.9998,18.098471,24.9998,18L25,18.000000999999997L25,10Q25,7.1005056,22.949748,5.0502524Q20.8994961,3,18,3Q15.1005042,3.00000042,13.0502524,5.0502526Q11,7.1005049,11,10.000001000000001Z" fill-rule="evenodd" fill="currentColor" fill-opacity="1"/>
		    </g>
		  </symbol>
		</svg>

  {%- when 'pe' -%}
	  <svg xmlns="http://www.w3.org/2000/svg" class="t4s-d-none">
		  <symbol id="icon-h-search" viewBox="0 0 32 32">
		    <path d="M28.591 27.273l-7.263-7.264c1.46-1.756 2.339-4.010 2.339-6.471 0-5.595-4.535-10.129-10.129-10.129-5.594 0-10.129 4.535-10.129 10.129 0 5.594 4.536 10.129 10.129 10.129 2.462 0 4.716-0.879 6.471-2.339l7.263 7.264 1.319-1.319zM4.475 13.538c0-4.997 4.065-9.063 9.063-9.063 4.997 0 9.063 4.066 9.063 9.063s-4.066 9.063-9.063 9.063c-4.998 0-9.063-4.066-9.063-9.063z" fill="currentColor"></path>
		  </symbol>
		  <symbol id="icon-h-account" viewBox="0 0 32 32">
		    <path d="M16 3.205c-7.067 0-12.795 5.728-12.795 12.795s5.728 12.795 12.795 12.795 12.795-5.728 12.795-12.795c0-7.067-5.728-12.795-12.795-12.795zM16 4.271c6.467 0 11.729 5.261 11.729 11.729 0 2.845-1.019 5.457-2.711 7.49-1.169-0.488-3.93-1.446-5.638-1.951-0.146-0.046-0.169-0.053-0.169-0.66 0-0.501 0.206-1.005 0.407-1.432 0.218-0.464 0.476-1.244 0.569-1.944 0.259-0.301 0.612-0.895 0.839-2.026 0.199-0.997 0.106-1.36-0.026-1.7-0.014-0.036-0.028-0.071-0.039-0.107-0.050-0.234 0.019-1.448 0.189-2.391 0.118-0.647-0.030-2.022-0.921-3.159-0.562-0.719-1.638-1.601-3.603-1.724l-1.078 0.001c-1.932 0.122-3.008 1.004-3.57 1.723-0.89 1.137-1.038 2.513-0.92 3.159 0.172 0.943 0.239 2.157 0.191 2.387-0.010 0.040-0.025 0.075-0.040 0.111-0.131 0.341-0.225 0.703-0.025 1.7 0.226 1.131 0.579 1.725 0.839 2.026 0.092 0.7 0.35 1.48 0.569 1.944 0.159 0.339 0.234 0.801 0.234 1.454 0 0.607-0.023 0.614-0.159 0.657-1.767 0.522-4.579 1.538-5.628 1.997-1.725-2.042-2.768-4.679-2.768-7.555 0-6.467 5.261-11.729 11.729-11.729zM7.811 24.386c1.201-0.49 3.594-1.344 5.167-1.808 0.914-0.288 0.914-1.058 0.914-1.677 0-0.513-0.035-1.269-0.335-1.908-0.206-0.438-0.442-1.189-0.494-1.776-0.011-0.137-0.076-0.265-0.18-0.355-0.151-0.132-0.458-0.616-0.654-1.593-0.155-0.773-0.089-0.942-0.026-1.106 0.027-0.070 0.053-0.139 0.074-0.216 0.128-0.468-0.015-2.005-0.17-2.858-0.068-0.371 0.018-1.424 0.711-2.311 0.622-0.795 1.563-1.238 2.764-1.315l1.011-0.001c1.233 0.078 2.174 0.521 2.797 1.316 0.694 0.887 0.778 1.94 0.71 2.312-0.154 0.852-0.298 2.39-0.17 2.857 0.022 0.078 0.047 0.147 0.074 0.217 0.064 0.163 0.129 0.333-0.025 1.106-0.196 0.977-0.504 1.461-0.655 1.593-0.103 0.091-0.168 0.218-0.18 0.355-0.051 0.588-0.286 1.338-0.492 1.776-0.236 0.502-0.508 1.171-0.508 1.886 0 0.619 0 1.389 0.924 1.68 1.505 0.445 3.91 1.271 5.18 1.77-2.121 2.1-5.035 3.4-8.248 3.4-3.183 0-6.073-1.277-8.188-3.342z" fill="currentColor"></path>
		  </symbol>
		  <symbol id="icon-h-heart" viewBox="0 0 32 32">
		    <path d="M21.886 5.115c3.521 0 6.376 2.855 6.376 6.376 0 1.809-0.754 3.439-1.964 4.6l-10.297 10.349-10.484-10.536c-1.1-1.146-1.778-2.699-1.778-4.413 0-3.522 2.855-6.376 6.376-6.376 2.652 0 4.925 1.62 5.886 3.924 0.961-2.304 3.234-3.924 5.886-3.924zM21.886 4.049c-2.345 0-4.499 1.089-5.886 2.884-1.386-1.795-3.54-2.884-5.886-2.884-4.104 0-7.442 3.339-7.442 7.442 0 1.928 0.737 3.758 2.075 5.152l11.253 11.309 11.053-11.108c1.46-1.402 2.275-3.308 2.275-5.352 0-4.104-3.339-7.442-7.442-7.442v0z" fill="currentColor"></path>
		  </symbol>
		  <symbol id="icon-h-cart" viewBox="0 0 32 32">
		    <path d="M3.205 3.205v25.59h25.59v-25.59h-25.59zM27.729 27.729h-23.457v-23.457h23.457v23.457z" fill="currentColor"></path>
          <path d="M9.068 13.334c0 3.828 3.104 6.931 6.931 6.931s6.93-3.102 6.93-6.931v-3.732h1.067v-1.066h-3.199v1.066h1.065v3.732c0 3.234-2.631 5.864-5.864 5.864-3.234 0-5.865-2.631-5.865-5.864v-3.732h1.067v-1.066h-3.199v1.066h1.065v3.732z" fill="currentColor"></path>
		  </symbol>
		</svg> 
		
  {%- when 'drawn' -%}
	  <svg xmlns="http://www.w3.org/2000/svg" class="t4s-d-none">
		  <symbol id="icon-h-search" viewBox="0 0 20 20" stroke="currentColor">
		    <circle fill="none" stroke-width="2" stroke-miterlimit="10" cx="8.35" cy="8.35" r="6.5"></circle><path fill="none" stroke-width="2" stroke-miterlimit="10" d="M12.945 12.945l5.205 5.205"></path>
		  </symbol>
		  <symbol id="icon-h-account" viewBox="0 0 20 20" stroke="currentColor">
		    <path fill="none" stroke-width="2" stroke-miterlimit="10" d="M6 5.444C6 3.481 7.377 2 10 2c2.557 0 4 1.481 4 3.444S12.613 10 10 10c-2.512 0-4-2.592-4-4.556z"></path><path fill="none" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M17.049 13.366s-1.22-.395-2.787-.761A7.056 7.056 0 0110 14c-1.623 0-3.028-.546-4.192-1.411-1.601.37-2.857.777-2.857.777-.523.17-.951.759-.951 1.309V17c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-2.325c0-.55-.428-1.139-.951-1.309z"></path>
		  </symbol>
		  <symbol id="icon-h-heart" viewBox="0 0 20 20" fill="currentColor">
		    <path d="M14.001 4c.802 0 1.556.311 2.122.876.565.564.877 1.315.877 2.113s-.311 1.548-.87 2.105l-6.158 6.087L3.876 9.1A2.964 2.964 0 013 6.989c0-.798.312-1.548.878-2.112A2.98 2.98 0 016 4c.802 0 1.556.311 2.122.876.142.142.382.411.388.417l1.491 1.665 1.49-1.666c.006-.007.245-.275.387-.417A2.988 2.988 0 0114.001 4m0-2a4.99 4.99 0 00-3.536 1.461c-.172.171-.465.499-.465.499s-.293-.328-.466-.5A4.987 4.987 0 006.001 2a4.99 4.99 0 00-3.536 1.461 4.98 4.98 0 00-.001 7.055L9.965 18l7.571-7.483a4.982 4.982 0 000-7.057A4.993 4.993 0 0014.001 2z"></path>
		  </symbol>
		  <symbol id="icon-h-cart" viewBox="0 0 329.998 329.998" stroke="currentColor" fill="currentColor">
		    <path d="M322.03 56.042A15 15 0 00309.999 50H78.98l-4.073-36.656C74.063 5.747 67.642 0 59.999 0h-40c-8.284 0-15 6.716-15 15s6.716 15 15 15h26.574l4.054 36.485c.012.127.026.253.042.379L65.09 196.656C65.934 204.253 72.356 210 79.999 210h191.104a15 15 0 0014.37-10.7l38.897-130a15.004 15.004 0 00-2.34-13.258zM259.934 180H93.425L82.313 80h207.54l-29.919 100zM109.999 239.998c-24.813 0-45 20.187-45 45 0 24.814 20.187 45 45 45s45-20.186 45-45c0-24.813-20.187-45-45-45zm0 60c-8.271 0-15-6.728-15-15 0-8.271 6.729-15 15-15s15 6.729 15 15c0 8.272-6.729 15-15 15zM228.999 239.998c-24.814 0-45 20.187-45 45 0 24.814 20.186 45 45 45s45-20.186 45-45c0-24.813-20.187-45-45-45zm0 60c-8.271 0-15-6.728-15-15 0-8.271 6.729-15 15-15s15 6.729 15 15c0 8.272-6.729 15-15 15z"></path>
		  </symbol>
		</svg>
		
  {%- else -%}
	  <svg xmlns="http://www.w3.org/2000/svg" class="t4s-d-none">
		  <symbol id="icon-h-search" viewBox="0 0 32 32" fill="currentColor">
		    <path d="M 19 3 C 13.488281 3 9 7.488281 9 13 C 9 15.394531 9.839844 17.589844 11.25 19.3125 L 3.28125 27.28125 L 4.71875 28.71875 L 12.6875 20.75 C 14.410156 22.160156 16.605469 23 19 23 C 24.511719 23 29 18.511719 29 13 C 29 7.488281 24.511719 3 19 3 Z M 19 5 C 23.429688 5 27 8.570313 27 13 C 27 17.429688 23.429688 21 19 21 C 14.570313 21 11 17.429688 11 13 C 11 8.570313 14.570313 5 19 5 Z"/>
		  </symbol>
		  <symbol id="icon-h-account" viewBox="0 0 32 32" fill="currentColor">
		  	<path xmlns="http://www.w3.org/2000/svg" d="M 16 5 C 12.144531 5 9 8.144531 9 12 C 9 14.410156 10.230469 16.550781 12.09375 17.8125 C 8.527344 19.34375 6 22.882813 6 27 L 8 27 C 8 22.570313 11.570313 19 16 19 C 20.429688 19 24 22.570313 24 27 L 26 27 C 26 22.882813 23.472656 19.34375 19.90625 17.8125 C 21.769531 16.550781 23 14.410156 23 12 C 23 8.144531 19.855469 5 16 5 Z M 16 7 C 18.773438 7 21 9.226563 21 12 C 21 14.773438 18.773438 17 16 17 C 13.226563 17 11 14.773438 11 12 C 11 9.226563 13.226563 7 16 7 Z"/>
		   </symbol>
		  <symbol id="icon-h-heart" viewBox="0 0 32 32" fill="currentColor">
		  	<path xmlns="http://www.w3.org/2000/svg" d="M 9.5 5 C 5.363281 5 2 8.402344 2 12.5 C 2 13.929688 2.648438 15.167969 3.25 16.0625 C 3.851563 16.957031 4.46875 17.53125 4.46875 17.53125 L 15.28125 28.375 L 16 29.09375 L 16.71875 28.375 L 27.53125 17.53125 C 27.53125 17.53125 30 15.355469 30 12.5 C 30 8.402344 26.636719 5 22.5 5 C 19.066406 5 16.855469 7.066406 16 7.9375 C 15.144531 7.066406 12.933594 5 9.5 5 Z M 9.5 7 C 12.488281 7 15.25 9.90625 15.25 9.90625 L 16 10.75 L 16.75 9.90625 C 16.75 9.90625 19.511719 7 22.5 7 C 25.542969 7 28 9.496094 28 12.5 C 28 14.042969 26.125 16.125 26.125 16.125 L 16 26.25 L 5.875 16.125 C 5.875 16.125 5.390625 15.660156 4.90625 14.9375 C 4.421875 14.214844 4 13.273438 4 12.5 C 4 9.496094 6.457031 7 9.5 7 Z"/>
		   </symbol>
		  <symbol id="icon-h-cart" viewBox="0 0 32 32" fill="currentColor">
		  	<path xmlns="http://www.w3.org/2000/svg" d="M 16 3 C 13.253906 3 11 5.253906 11 8 L 11 9 L 6.0625 9 L 6 9.9375 L 5 27.9375 L 4.9375 29 L 27.0625 29 L 27 27.9375 L 26 9.9375 L 25.9375 9 L 21 9 L 21 8 C 21 5.253906 18.746094 3 16 3 Z M 16 5 C 17.65625 5 19 6.34375 19 8 L 19 9 L 13 9 L 13 8 C 13 6.34375 14.34375 5 16 5 Z M 7.9375 11 L 11 11 L 11 14 L 13 14 L 13 11 L 19 11 L 19 14 L 21 14 L 21 11 L 24.0625 11 L 24.9375 27 L 7.0625 27 Z"/>
		   </symbol>
		   <symbol id="icon-h-menu" viewBox="0 0 36 36" fill="none">
		     <defs><clipPath id="master_svg0_75_42703"><rect x="-1" y="-1" width="38" height="38" rx="0"/></clipPath></defs>
		     <g clip-path="url(#master_svg0_75_42703)">
		       <path d="M4,9L32,9L32,8.99980003Q32.098471,8.99979997,32.195049,8.98058909Q32.29163,8.96137822,32.382605,8.92369473Q32.473579,8.88601124,32.555456,8.8313033Q32.637333,8.776595350000001,32.706963,8.70696533Q32.776592,8.6373353,32.831299,8.55545908Q32.886005,8.47358286,32.923691000000005,8.38260686Q32.961376,8.29163089,32.980587,8.1950513Q32.999798,8.098471709,32.9998,8Q32.999798,7.901528291,32.980587,7.8049487Q32.961376,7.70836911,32.923691000000005,7.61739314Q32.886007,7.52641714,32.831300999999996,7.44454092Q32.776592,7.3626647,32.706964,7.29303467Q32.637333,7.22340465,32.555456,7.16869676Q32.473579,7.11398882,32.382605,7.07630533Q32.29163,7.03862178,32.195049,7.0194109099999995Q32.098471,7.00020003,32,7.00019997L32,7L4,7L4,7.00019997Q3.901528291,7.00020003,3.8049487,7.0194109099999995Q3.70836911,7.03862178,3.61739314,7.07630527Q3.52641714,7.11398876,3.44454092,7.1686967Q3.3626647,7.22340465,3.29303467,7.29303467Q3.22340465,7.3626647,3.16869676,7.44454092Q3.11398882,7.52641714,3.07630533,7.61739314Q3.03862178,7.70836911,3.01941091,7.8049487Q3.0002000300000002,7.901528291,3.00019997,8Q3.0002000300000002,8.098471709,3.01941091,8.1950513Q3.03862178,8.29163089,3.0763052699999998,8.38260686Q3.11398876,8.47358286,3.1686967,8.55545908Q3.22340465,8.6373353,3.29303467,8.70696533Q3.3626647,8.776595350000001,3.44454092,8.83130324Q3.52641714,8.88601118,3.61739314,8.92369467Q3.70836911,8.96137822,3.8049487,8.98058909Q3.901528291,8.99979997,4,8.99980003L4,9Z" fill-rule="evenodd" fill="currentColor" fill-opacity="1"/>
		       <path d="M4,19L32,19L32,18.99980003Q32.098471,18.99979997,32.195049,18.98058909Q32.29163,18.96137822,32.382605,18.92369473Q32.473579,18.88601124,32.555456,18.8313033Q32.637333,18.77659535,32.706963,18.70696533Q32.776592,18.6373353,32.831299,18.55545908Q32.886005,18.47358286,32.923691000000005,18.38260686Q32.961376,18.29163089,32.980587,18.1950513Q32.999798,18.098471709,32.9998,18Q32.999798,17.901528291,32.980587,17.8049487Q32.961376,17.70836911,32.923691000000005,17.61739314Q32.886007,17.52641714,32.831300999999996,17.44454092Q32.776592,17.3626647,32.706964,17.29303467Q32.637333,17.22340465,32.555456,17.16869676Q32.473579,17.11398882,32.382605,17.07630533Q32.29163,17.03862178,32.195049,17.01941091Q32.098471,17.00020003,32,17.00019997L32,17L4,17L4,17.00019997Q3.901528291,17.00020003,3.8049487,17.01941091Q3.70836911,17.03862178,3.61739314,17.07630527Q3.52641714,17.11398876,3.44454092,17.1686967Q3.3626647,17.22340465,3.29303467,17.29303467Q3.22340465,17.3626647,3.16869676,17.44454092Q3.11398882,17.52641714,3.07630533,17.61739314Q3.03862178,17.70836911,3.01941091,17.8049487Q3.0002000300000002,17.901528291,3.00019997,18Q3.0002000300000002,18.098471709,3.01941091,18.1950513Q3.03862178,18.29163089,3.0763052699999998,18.38260686Q3.11398876,18.47358286,3.1686967,18.55545908Q3.22340465,18.6373353,3.29303467,18.70696533Q3.3626647,18.77659535,3.44454092,18.83130324Q3.52641714,18.88601118,3.61739314,18.92369467Q3.70836911,18.96137822,3.8049487,18.98058909Q3.901528291,18.99979997,4,18.99980003L4,19Z" fill-rule="evenodd" fill="currentColor" fill-opacity="1"/>
		       <path d="M4,29L32,29L32,28.99980003Q32.098471,28.99979997,32.195049,28.98058909Q32.29163,28.96137822,32.382605,28.92369473Q32.473579,28.88601124,32.555456,28.8313033Q32.637333,28.77659535,32.706963,28.70696533Q32.776592,28.6373353,32.831299,28.55545908Q32.886005,28.47358286,32.923691000000005,28.38260686Q32.961376,28.29163089,32.980587,28.1950513Q32.999798,28.098471709,32.9998,28Q32.999798,27.901528291,32.980587,27.8049487Q32.961376,27.70836911,32.923691000000005,27.61739314Q32.886007,27.52641714,32.831300999999996,27.44454092Q32.776592,27.3626647,32.706964,27.29303467Q32.637333,27.22340465,32.555456,27.16869676Q32.473579,27.11398882,32.382605,27.07630533Q32.29163,27.03862178,32.195049,27.01941091Q32.098471,27.00020003,32,27.00019997L32,27L4,27L4,27.00019997Q3.901528291,27.00020003,3.8049487,27.01941091Q3.70836911,27.03862178,3.61739314,27.07630527Q3.52641714,27.11398876,3.44454092,27.1686967Q3.3626647,27.22340465,3.29303467,27.29303467Q3.22340465,27.3626647,3.16869676,27.44454092Q3.11398882,27.52641714,3.07630533,27.61739314Q3.03862178,27.70836911,3.01941091,27.8049487Q3.0002000300000002,27.901528291,3.00019997,28Q3.0002000300000002,28.098471709,3.01941091,28.1950513Q3.03862178,28.29163089,3.0763052699999998,28.38260686Q3.11398876,28.47358286,3.1686967,28.55545908Q3.22340465,28.6373353,3.29303467,28.70696533Q3.3626647,28.77659535,3.44454092,28.83130324Q3.52641714,28.88601118,3.61739314,28.92369467Q3.70836911,28.96137822,3.8049487,28.98058909Q3.901528291,28.99979997,4,28.99980003L4,29Z" fill-rule="evenodd" fill="currentColor" fill-opacity="1"/>
		     </g>
		   </symbol>
		</svg>
		
{%- endcase -%}

<div class="t4s-site-nav__icons t4s-use__{{ se_stts.h_icon }} is--hover{{ se_stts.hover_icon }} t4s-h-cart__design{{ se_stts.cart_des }} t4s-lh-1 t4s-d-inline-flex t4s-align-items-center">
	{%- if se_stts.show_search -%}
	<div class="t4s-site-nav__icon t4s-site-nav__search t4s-mobile-icon-search">
		{%- if isfrmSearch -%}
			  <style>
			  	.t4s-search-header__form {
						padding: 0;
						min-width: 260px;
						border: 1px solid rgba(var(--h-text-color-rgb), 0.15);
						border-radius: var(--btn-radius);
			  	}
			  	.t4s-search-header__input {
						padding-top:0;
						padding-inline-end:50px;
						padding-bottom:0;
						padding-inline-start:15px;
						height: 40px;
						border: 0;
						width: 100%;
						line-height: 18px;
						background-color: transparent;
						color: var(--h-text-color);
						border-radius: var(--btn-radius);
						font-size: 13px;
					}
					.t4s-search-header__submit {
						position: absolute;
						top: 0;
						right: 2px;
						bottom: 0;
						padding: 0;
						width: 50px;
						border: none;
						background-color: transparent !important;
						color: var(--h-text-color);
						font-size: 15px;
					}
					.rtl_true .t4s-search-header__submit{left:2px;right:auto}
					.t4s-site-nav__icons .t4s-search-header__submit svg.t4s-icon {
						color: var(--h-text-color);
						width: 15px;
						height: 15px;
					}
					.t4s-search-header__type select {
						border: 0;
						max-width: 138px;
						padding: 0 30px 0 15px;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						font-size: 13px;
						display: inline-block;
						background-color: transparent;
						box-shadow: none;
						color: var(--h-text-color);
						border-radius: var(--btn-radius);
					}
					.t4s-search-header__type .t4s-icon-select-arrow { color: var(--h-text-color); }
					.t4s-search-header_border {
						height: 18px;
						background-color: rgba(var(--h-text-color-rgb), 0.15);
						width: 1.5px;
					}
					.t4s-frm-search__results {
						position: absolute;
						top: 100%;
						right: 0;
						left: 0;
						z-index: 1000;
						width: auto;
						height: auto;
						background-color: var(--t4s-light-color);
						margin-top: 5px;
						opacity: 0;
						visibility: hidden;
						pointer-events: none;
						transition: all .1s ease-in-out;
						max-width: 1170px;
						margin: 0 auto;
						box-shadow: 0 1px 5px 2px rgba(var(--border-color-rgb),.3);
					}
					.calc-pos-submenu .t4s-search-header__form-wrap:hover .t4s-frm-search__results {
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
					.t4s-frm-search__content { 
						height:auto;
						overflow: auto;
						overflow-x: hidden;
						-webkit-overflow-scrolling: touch;
						padding: 20px;
					}
					.t4s-frm-search__content .t4s-widget_img_pr {
						min-width: 95px;
						max-width: 95px;
						max-height: 120px;
					}
					.t4s-frm-search__content .t4s-widget_img_pr>a {
						height: 100%;
					}
					.t4s-frm-search__content .t4s-widget_img_pr img {
						object-fit: contain;
						max-height: 120px;
					}
					.t4s-frm-search__content .t4s-row.t4s-widget__pr {
						--ts-gutter-x: 20px;flex-wrap: nowrap;
					}
					.t4s-frm-search__content .t4s-widget__pr .t4s-widget__pr-title {
						font-weight: 500;
						line-height: 1.25;
						font-size: 14px;
						color: var(--secondary-color);
					}
					.t4s-frm-search__content .t4s-widget__pr-price {
						font-size: 14px;
						color: var(--secondary-price-color);
					}
					.t4s-frm-search__content .t4s-widget__pr-price ins {
						color: var(--primary-price-color);
						margin-left: 5px;
					}
					.rtl_true .t4s-frm-search__content .t4s-widget__pr-price ins {
						margin-right: 5px;
						margin-left: 0;
						display: inline-block;
					}
					.t4s-frm-search__content .t4s-widget__pr .t4s-widget__pr-price {
						margin-top: 1.5px;
					}
					.t4s-search-header__form-wrap .t4s-mini-search__viewAll {
						padding: 12px 20px;
						border-top: 1px solid rgba(var(--border-color-rgb),.35);
						box-shadow: 0 0 10px 0 rgba(var(--border-color-rgb),.35);
					}
					.t4s-frm-search__content .t4s-widget__pr .t4s-widget__pr-title:hover,
					.t4s-search-header__form-wrap .t4s-mini-search__viewAll:hover {
						color: var(--accent-color);
					}
			  </style>	
	      <div data-predictive-search data-sid="search-hidden" class="t4s-search-header__form-wrap t4s-search-header t4s-pr t4s-d-none t4s-d-lg-block">
					{%- liquid
						assign collection = collections[settings.search_prs_suggest]
						assign limit = 5 
						assign show_search_suggest = settings.show_search_suggest
						if shop.types.size < 3
							assign shop_types = shop.types | join: ' ' | remove: ' '
						else
							assign shop_types = 'type_the4'
						endif
					-%}
             
					<form data-frm-search action="{{ routes.search_url }}" method="get" class="t4s-search-header__form t4s-row t4s-g-0 t4s-align-items-center" role="search">
						
						{%- if settings.filter_type_search and shop_types != blank -%}
						<div data-cat-search class="t4s-search-header__type t4s-pr t4s-oh t4s-col-auto t4s-col-item">
							<select data-name="product_type" class="t4s-truncate">
								<option value="*">{{ 'search.general.all_categories' | t }}</option>
								{%- for product_type in shop.types -%}{%- if product_type == blank %}{% continue -%}{% endif -%}<option value="{{ product_type }}"{% if search_pr_type == product_type %} selected="selected"{% endif %}>{{ product_type }}</option>{%- endfor -%}
							</select>
							{%- comment %}<svg class="t4s-icon-select-arrow t4s-pe-none" role="presentation" width="10" height="10" viewBox="0 0 19 12"><use xlink:href="#t4s-select-arrow"></use></svg>{% endcomment -%}
						</div>
						<div class="t4s-search-header_border t4s-col-auto t4s-col-item"></div>
						{%- endif -%}
						<div class="t4s-search-header__main t4s-pr t4s-oh t4s-d-flex t4s-col t4s-col-item">
							<input data-input-search class="t4s-search-header__input t4s-input__currentcolor" autocomplete="off" type="text" name="q" placeholder="{{ 'search.general.placeholder_products' | t }}">
							<button class="t4s-search-header__submit{% if settings.ajax_search %} t4s-pe-none{% endif %}" type="submit"><svg class="t4s-icon t4s-icon--search" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg></button>
						</div>
					</form>
					<div class="t4s-pr">
						<div class="t4s-pa t4s-frm-search__results t4s-text-start">
							<div data-skeleton-search class="t4s-skeleton_wrap t4s-dn">
								{%- for i in (1..4) -%}
								<div class="t4s-row t4s-space-item-inner">
									<div class="t4s-col-auto t4s-col-item t4s-widget_img_pr"><div class="t4s-skeleton_img"></div></div>
									<div class="t4s-col t4s-col-item t4s-widget_if_pr"><div class="t4s-skeleton_txt1"></div><div class="t4s-skeleton_txt2"></div></div>
								</div>
								{%- endfor -%}
							</div>
							<div data-results-search class="t4s-frm-search__content t4s_ratioadapt t4s-current-scrollbar"{% if collection == blank or show_search_suggest == false %} style="display: none;"{% endif %}>
								{%- if collection != blank and show_search_suggest -%}
									{%- for product in collection.products limit: limit -%}
										{%- render 'pr-sidebar-loop', imgatt: "", product: product, pr_url: product.url, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
									{%- endfor -%}
								{%- endif -%}
							</div>
							{%- if collection != blank and show_search_suggest -%}
								{%- if collection.all_products_count > limit -%}
									<div data-viewAll-search>
										<a href="{{ collection.url }}" class="t4s-mini-search__viewAll t4s-d-block">{{ 'search.pagination.view_all' | t }} <svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 18.71875 6.78125 L 17.28125 8.21875 L 24.0625 15 L 4 15 L 4 17 L 24.0625 17 L 17.28125 23.78125 L 18.71875 25.21875 L 27.21875 16.71875 L 27.90625 16 L 27.21875 15.28125 Z"/></svg></a>
									</div>
								{%- endif -%}
							{%- else -%}
								<div data-viewAll-search></div>
							{%- endif -%}
						</div>
					</div>
	      </div>
			  <a class="t4s-pr t4s-d-lg-none" href="{{ routes.search_url }}" data-drawer-delay- data-drawer-options='{ "id":"#t4s-search-hidden" }'>
					<svg class="t4s-icon t4s-icon--search" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg>
			  </a>
    {%- else -%}
			<a class="t4s-pr" href="{{ routes.search_url }}" data-drawer-delay- data-drawer-options='{ "id":"#t4s-search-hidden" }'>
				<svg class="t4s-icon t4s-icon--search" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg>
			</a>
		{%- endif -%}
	</div>
	{%- endif -%}
	{%- if shop.customer_accounts_enabled and se_stts.show_acc -%}
		<div class="t4s-site-nav__icon t4s-site-nav__account t4s-pr t4s-d-none t4s-d-md-inline-block">
			<a class="t4s-pr is--checked-link" href="{{ routes.account_url }}" data-no-instant{% unless customer or request.page_type contains 'customers' or settings.login_side == false %} data-drawer-delay- data-drawer-options='{ "id":"#t4s-login-sidebar" }' {% endunless %}>
				<svg class="t4s-icon t4s-icon--account" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-account"></use></svg>
			</a>
			{%- if customer -%}
				<ul class="t4s-my-account">
					<li><a class="t4s-d-block" href="{{ routes.account_url }}">{{ 'customer.account.dashboard' | t }}</a></li>
					<li><a class="t4s-d-block" href="{{ routes.account_addresses_url }}">{{ 'customer.menu.addresses' | t }}</a></li>
					<li><a class="t4s-d-block" href="{{ routes.account_logout_url }}" data-no-instant>{{ 'customer.account.log_out' | t }}</a></li>
				</ul>
				{%- style -%}
					.t4s-site-nav__account .t4s-my-account{
						position: absolute;
						top: 100%;
						z-index: 380;
						background-color: var(--t4s-body-background);
						box-shadow: 0 0 3px rgb(0 0 0 / 15%);
						list-style: none;
						right: -5px;
						width: 165px;
						padding: 10px 0;
						line-height: 1.4;
						margin-top: 12px;
						border-radius: 3px;
						transform: translateY(15px) translateZ(0);
						visibility: hidden;
						transition: opacity .2s,visibility .2s,transform .2s;
						opacity:0;
						text-align: start;
					}
					.t4s-site-nav__account .t4s-my-account::after{
						content: "";
						position: absolute;
						top: auto;
						right: 0;
						bottom: 100%;
						left: 0;
						width: auto;
						height: 12px;
					}
					.t4s-site-nav__account .t4s-my-account a{padding: 8px 18px;color:var(--text-color);}
					.rtl_true .t4s-site-nav__account .t4s-my-account{left:-5px;right:auto;}
					@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px){
						.t4s-site-nav__account .t4s-my-account a:hover{color: var(--accent-color)!important;}
						.t4s-site-nav__account:hover .t4s-my-account{
							pointer-events: auto;
							visibility: visible;
							opacity: 1;
							transform: none;
						}
					}
				{%- endstyle -%}
			{%- endif -%}
		</div>
	{%- endif -%}
	{%- if se_stts.show_wis -%}
		<div class="t4s-site-nav__icon t4s-site-nav__heart t4s-d-none t4s-d-md-inline-block">
			{%- if settings.wishlist_mode != '3' -%}		
				<a data-link-wishlist class="t4s-pr" href="{{ routes.search_url }}/?view=wishlist">
				<svg class="t4s-icon t4s-icon--heart" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-heart"></use></svg>
				<span data-count-wishlist class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box">0</span>
				</a>
			{%- else -%}
				{%- capture the_snippet_fave_icon_menu %}{% render 'ssw-widget-faveicon-menu' with product.id %}{% endcapture -%}
				{%- unless the_snippet_fave_icon_menu contains 'Liquid error' %}{{ the_snippet_fave_icon_menu }}{% endunless -%}
			{%- endif -%}
		</div>
   {%- endif -%}

	{%- if se_stts.cart_des != '0' -%}
	<div class="t4s-site-nav__icon t4s-site-nav__cart t4s-mobile-icon-cart">	
		<a href="{{ routes.cart_url }}"{% if request.page_type != 'cart' and settings.cart_type != 'disable' %} data-drawer-delay- data-drawer-options='{ "id":"#t4s-mini_cart" }'{% endif %}>
			<span class="t4s-pr t4s-icon-cart__wrap">
			  <svg class="t4s-icon t4s-icon--cart" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-cart"></use></svg>
			  <span data-cart-count class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box">{{ cart.item_count }}</span>
			</span>
			<span class="t4s-h-cart-totals t4s-dn">
				<span class="t4s-h-cart__divider t4s-dn">/</span>
				<span data-cart-tt-price class="t4s-h-cart__total">{{ cart.total_price | money }}</span>
			</span>
		</a>
	</div>
	{%- endif -%}

	{%- if isShowMenuBtn -%}
	<div class="t4s-site-nav__icon t4s-site-nav__btnMenu t4s-d-none t4s-d-lg-block">{%- render 'push_menu' -%}</div> 
	{%- endif -%}
	
	{%- if showMobileMenu -%}
	<div class="t4s-site-nav__icon t4s-site-nav__btnMenu t4s-d-lg-none t4s-mobile-icon-menu">{%- render 'push_menu' -%}</div>
	{%- endif -%}
</div>

{%- if se_stts.cart_des != '0' -%}
	<style>
		.t4s-h-cart__design3 .t4s-count-box {
			width: 19px;
			height: 19px;
			line-height: 19px;
			position: static;
			display: inline-block;
		}
		.t4s-h-cart__design2 .t4s-site-nav__icon:last-child,
		.t4s-h-cart__design3 .t4s-site-nav__icon:last-child,
		.t4s-h-cart__design4 .t4s-site-nav__icon:last-child,
		.t4s-h-cart__design5 .t4s-site-nav__icon:last-child {
			padding-right: {{ se_stts.icon_spacing_mobile | default: 6 }}px;
		}
		.t4s-h-cart__design1 .t4s-site-nav__icon.t4s-site-nav__btnMenu {
			padding-right: {{ se_stts.icon_spacing_mobile | default: 6 }}px;
		}
		@media (min-width: 768px) {
			.t4s-h-cart__design2 .t4s-site-nav__icon:last-child,
			.t4s-h-cart__design3 .t4s-site-nav__icon:last-child,
			.t4s-h-cart__design4 .t4s-site-nav__icon:last-child,
			.t4s-h-cart__design5 .t4s-site-nav__icon:last-child {
				padding-right: {{ se_stts.icon_spacing_desktop | default: 8 }}px;
			}
			.t4s-h-cart__design2 .t4s-site-nav__cart a,
			.t4s-h-cart__design4 .t4s-site-nav__cart a,
			.t4s-h-cart__design5 .t4s-site-nav__cart a {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.t4s-h-cart__design2 .t4s-h-cart-totals,
			.t4s-h-cart__design4 .t4s-h-cart-totals {
				display: block;
				margin-left: 15px;
			}
			.t4s-h-cart__design4 .t4s-site-nav__cart .t4s-count-box,
			.t4s-h-cart__design5 .t4s-site-nav__cart .t4s-count-box {
				display: none
			}
			.t4s-h-cart__design4 .t4s-h-cart-totals {
				margin-left: 7px;
			}
			.t4s-h-cart__design5 .t4s-h-cart__divider {
				display: inline-block;
			}
			.t4s-h-cart__design5 .t4s-h-cart-totals {
				display: block;
				margin-left: 7px;
			}		
			.t4s-h-cart__design1 .t4s-site-nav__icon.t4s-site-nav__btnMenu {
				padding-right: {{ se_stts.icon_spacing_desktop | default: 8 }}px;
			}
		}
	</style>
{%- endif -%}