{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign width = section.settings.width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius
  assign background_style = section.settings.background_style

  assign content_align = section.settings.content_align
  assign content_align_mobile = section.settings.content_align_mobile

  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile
  assign slider_mt = section.settings.slider_mt
  assign slider_mt_mobile = section.settings.slider_mt_mobile

  assign card_radius = section.settings.card_radius
  assign card_border_thickness = section.settings.card_border_thickness
  assign card_border_color = section.settings.card_border_color
  
  assign video_ratio = section.settings.video_ratio
  assign video_ratio_mobile = section.settings.video_ratio_mobile

  assign info_size = section.settings.info_size
  assign info_size_mobile = section.settings.info_size_mobile
  assign info_custom = section.settings.info_custom
  assign info_font = section.settings.info_font
  assign info_color = section.settings.info_color
  assign info_height = section.settings.info_height
  assign info_align_mobile = section.settings.info_align_mobile
  assign info_align = section.settings.info_align

  assign action_size = section.settings.action_size
  assign action_size_mobile = section.settings.action_size_mobile
  assign action_icon_size = section.settings.action_icon_size
  assign action_icon_size_mobile = section.settings.action_icon_size_mobile
  assign action_color = section.settings.action_color
  assign action_hover_color = section.settings.action_hover_color
  assign action_bg_color = section.settings.action_bg_color
  assign action_bg_hover_color = section.settings.action_bg_hover_color
  assign action_border_thickness = section.settings.action_border_thickness
  assign action_border_color = section.settings.action_border_color
  assign action_border_hover_color = section.settings.action_border_hover_color

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect
  
-%}

{%- style -%}
  {{ info_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .video-social-slider-{{ section.id }} {
    margin-top: {{ slider_mt_mobile }}px;
    margin-left: -{{ padding_horizontal_mobile }}rem !important;
    margin-right: -{{ padding_horizontal_mobile }}rem !important;
    padding-left: {{ padding_horizontal_mobile }}rem !important;
    padding-right: {{ padding_horizontal_mobile }}rem !important;
  }

  .video-social-card-{{ section.id }} {
    border-radius: {{ card_radius }}px;
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    box-sizing: border-box !important;
    overflow: hidden;
    position: relative;
  }

  .video-social-video-{{ section.id }} {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .video-social-video-{{ section.id }} video,
  .video-social-video-{{ section.id }} iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: none;
    border: 0px;
  }

  .video-social-info-{{ section.id }} {
    display: block;
    width: 100%;
    margin: 0;
    text-align: {{ info_align_mobile }};
    font-size: {{ info_size_mobile }}px;
    line-height: {{ info_height }}%;
    color: {{ info_color }};
    text-transform: unset;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
  }

  .video-social-btn-prev-{{ section.id }},
  .video-social-btn-next-{{ section.id }} {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15);
  }

  .video-social-btn-prev-{{ section.id }} {
    left: 10px;
  }

  .video-social-btn-next-{{ section.id }} {
    right: 10px;
  }

  .video-social-btn-prev-{{ section.id }} .animate-icon,
  .video-social-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .video-social-btn-prev-{{ section.id }} .animate-icon:before,
  .video-social-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease-in-out;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .video-social-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .video-social-btn-prev-{{ section.id }} .animate-icon:after,
  .video-social-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease-in-out;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .video-social-btn-prev-{{ section.id }} span,
  .video-social-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .video-social-btn-prev-{{ section.id }}.swiper-button-disabled,
  .video-social-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0;
  }

  .video-social-action-{{ section.id }} {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: {{ action_size_mobile }}px;
    height: {{ action_size_mobile }}px;
    border: {{ action_border_thickness }}px solid {{ action_border_color }};
    border-radius: 50%;
    background: {{ action_bg_color | hex_to_rgba: 0.3 }};
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15);
  }

  .video-social-action-{{ section.id }} svg {
    height: {{ action_icon_size_mobile }}px;
    width: {{ action_icon_size_mobile }}px;
  }

  .video-social-action-{{ section.id }} svg path {
    fill: {{ action_color }};
    transition: all 0.3s ease 0s;
  }

  .video-social-action-{{ section.id }}:hover {
    transition: all 0.3s ease 0s;
    border: {{ action_border_thickness }}px solid {{ action_border_hover_color }};
    background: {{ action_bg_hover_color | hex_to_rgba: 0.3 }};
  }

  .video-social-action-{{ section.id }}:hover svg path {
    fill: {{ action_hover_color }};
    transition: all 0.3s ease 0s;
  }

  .video-social-unmute-{{ section.id }} {
    display: none !important;
  }

  .video-social-action-{{ section.id }}.active .video-social-unmute-{{ section.id }} {
    display: block !important;
  }

  .video-social-action-{{ section.id }}.active .video-social-mute-{{ section.id }} {
    display: none !important;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .video-social-slider-{{ section.id }} {
      margin-top: {{ slider_mt }}px;
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .video-social-info-{{ section.id }} {
      text-align: {{ info_align }};
      font-size: {{ info_size }}px;
    }

    .video-social-btn-prev-{{ section.id }},
    .video-social-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }

    .video-social-btn-prev-{{ section.id }} .animate-icon:before,
    .video-social-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .video-social-btn-prev-{{ section.id }} .animate-icon:after,
    .video-social-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }

    .video-social-btn-prev-{{ section.id }} {
      left: 10px !important;
    }
  
    .video-social-btn-next-{{ section.id }} {
      right: 10px !important;
    }

    .video-social-btn-prev-{{ section.id }} svg,
    .video-social-btn-next-{{ section.id }} svg {
      height: {{ arrow_icon_size }}px;
      width: {{ arrow_icon_size }}px;
    }

    .video-social-action-{{ section.id }} {
      width: {{ action_size }}px;
      height: {{ action_size }}px;
    }

    .video-social-action-{{ section.id }} svg {
      height: {{ action_icon_size }}px;
      width: {{ action_icon_size }}px;
    }
  }
  
{%- endstyle -%}

{% if width == 'custom' %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% elsif width == 'page' %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: clamp(100px, var(--page-content-width, var(--page-width)), 100%);
    }
  </style>
{% endif %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if info_custom %}
  <style>
    .video-social-info-{{ section.id }} {
      font-family: {{ info_font.family }}, {{ info_font.fallback_families }};
      font-weight: {{ info_font.weight }};
      font-style: {{ info_font.style }};
    }
  </style>
{% endif %}

{% if video_ratio_mobile == "portrait" %}
  <style>
    .video-social-video-{{ section.id }} {
     aspect-ratio: 9.6/14; 
    }
  </style>
{% elsif video_ratio_mobile == "landscape" %}
  <style>
    .video-social-video-{{ section.id }} {
     aspect-ratio: 12/7; 
    }
  </style>
{% elsif video_ratio_mobile == "square" %}
  <style>
    .video-social-video-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% endif %}

{% if video_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .video-social-video-{{ section.id }} {
       aspect-ratio: 9.6/14; 
      } 
    }
  </style>
{% elsif video_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .video-social-video-{{ section.id }} {
       aspect-ratio: 12/7; 
      }
    }
  </style>
{% elsif video_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .video-social-video-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .video-social-video-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .video-social-btn-prev-{{ section.id }},
    .video-social-btn-next-{{ section.id }} {
      display: flex;
    }
    
    .video-social-right-{{ section.id }} {
      padding: 0px {{ arrow_size_mobile | plus: 10 }}px;
    }
  </style>
{% else %}
  <style>
    .video-social-btn-prev-{{ section.id }},
    .video-social-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .video-social-btn-prev-{{ section.id }},
      .video-social-btn-next-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .video-social-btn-prev-{{ section.id }},
      .video-social-btn-next-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .video-social-btn-prev-{{ section.id }}:hover,
    .video-social-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .video-social-btn-prev-{{ section.id }}:hover span,
    .video-social-btn-next-{{ section.id }}:hover span{
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .video-social-btn-prev-{{ section.id }}:hover,
    .video-social-btn-next-{{ section.id }}:hover {
      transform: scale(0.9) translateY(-50%);
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .video-social-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .video-social-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .video-social-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .video-social-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .video-social-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .video-social-slider-{{ section.id }}.preview .video-social-card-{{ section.id }} {
    width: 100%;
  }

  .video-social-slider-{{ section.id }}.preview .video-social-card-{{ section.id }}:not(:first-child) {
    margin-left: {{ slider_gap_mobile }}px;
  } 

  @media(min-width: 1024px) {
    .video-social-slider-{{ section.id }}.preview .video-social-card-{{ section.id }}:not(:first-child) {
      margin-left: {{ slider_gap }}px;
    } 

    .video-social-slider-{{ section.id }}.preview .video-social-card-{{ section.id }} {
      width: calc(100% / {{ slider_view }} - ({{ slider_gap }}px * {{ slider_view | minus: 1 }}));
    }
  }
</style>

{% for block in section.blocks %}
  {% case block.type %}    
    {% when 'heading' %}
      <style>
        {{  block.settings.heading_font | font_face: font_display: 'swap' }}

        .video-from-socials-heading-{{ block.id }} {
          margin-top: {{ block.settings.heading_mt_mobile }}px;
          text-align: {{ content_align_mobile }};
        }

        .video-from-socials-heading-{{ block.id }} * {          
          margin: 0;            
          font-size: {{ block.settings.heading_size_mobile }}px;
          color: {{ block.settings.heading_color }};
          line-height: {{ block.settings.heading_height }}%;
          text-transform: unset;
          text-decoration: none;
          word-break: break-word;
          font-weight: 700;
        }          

        .video-from-socials-heading-{{ block.id }} strong {
          color: {{ block.settings.heading_accent_color }};
        }

        @media(min-width: 1024px) {
          .video-from-socials-heading-{{ block.id }} {
            margin-top: {{ block.settings.heading_mt }}px;
            text-align: {{ content_align }};
          }

          .video-from-socials-heading-{{ block.id }} * {                
            font-size: {{ block.settings.heading_size }}px;
          }  
        }
      </style>

      {% if block.settings.heading_custom %}
        <style>
          .video-from-socials-heading-{{ block.id }} * {
            font-family: {{ block.settings.heading_font.family }}, {{ block.settings.heading_font.fallback_families }};
            font-weight: {{ block.settings.heading_font.weight }};
            font-style: {{ block.settings.heading_font.style }};
          }
        </style>
      {% endif %}

    {% when 'text' %}  
      <style>
        {{  block.settings.text_font | font_face: font_display: 'swap' }}

        .video-from-socials-text-{{ block.id }} {
          margin-top: {{ block.settings.text_mt_mobile }}px;
          text-align: {{ content_align_mobile }};
          max-width: {{ block.settings.text_max_width_mobile }}%;
        }

        .video-from-socials-text-{{ block.id }} * {          
          margin: 0;            
          font-size: {{ block.settings.text_size_mobile }}px;
          color: {{ block.settings.text_color }};
          line-height: {{ block.settings.text_height }}%;
          text-transform: unset;
          text-decoration: none;
          word-break: break-word;
        }  

        .video-from-socials-text-{{ block.id }} strong {
          color: {{ block.settings.text_active_color }};
        }

        @media(min-width: 1024px) {
          .video-from-socials-text-{{ block.id }} {
            margin-top: {{ block.settings.text_mt }}px;
            text-align: {{ content_align }};
            max-width: {{ block.settings.text_max_width }}%;
          }

          .video-from-socials-text-{{ block.id }} * {                
            font-size: {{ block.settings.text_size }}px;
          }  
        }
      </style>

      {% if block.settings.text_custom %}
        <style>
          .video-from-socials-text-{{ block.id }} * {
            font-family: {{ block.settings.text_font.family }}, {{ block.settings.text_font.fallback_families }};
            font-weight: {{ block.settings.text_font.weight }};
            font-style: {{ block.settings.text_font.style }};
          }
        </style>
      {% endif %}

      {% if content_align_mobile == 'center' %}
        <style>
          @media(max-width: 1024px) {
            .video-from-socials-text-{{ block.id }} {
              margin-left: auto;
              margin-right: auto;
            }
          }        
        </style>
      {% elsif content_align_mobile == 'right' %}
        <style>
          @media(max-width: 1024px) {
            .video-from-socials-text-{{ block.id }} {
              margin-left: auto;
            }
          }
        
        </style>
      {% else %}
        <style>
          @media(max-width: 1024px) {
            .video-from-socials-text-{{ block.id }} {
              margin-right: auto;
            }
          }       
        </style>
      {% endif %}

      {% if content_align == 'center' %}
        <style>
          @media(min-width: 1024px) {
            .video-from-socials-text-{{ block.id }} {
              margin-left: auto;
              margin-right: auto;
            }
          }         
        </style>
      {% elsif content_align == 'right' %}
        <style>
          @media(min-width: 1024px) {
            .video-from-socials-text-{{ block.id }} {
              margin-left: auto;
            }
          }        
        </style>
      {% else %}
        <style>
          @media(min-width: 1024px) {
            .video-from-socials-text-{{ block.id }} {
              margin-right: auto;
            }
          }       
        </style>
      {% endif %}

  {% endcase %}
{% endfor %}


<div class="section-{{ section.id }} video-from-socials-{{ section.id }}" {% if background_style == 'solid' %}style="background-color:{{ background_color }};"{% elsif background_style == 'gradient' %} style="background-image: {{ background_gradient }};"{% endif %}>
    <div class="section-{{ section.id }}-settings">
      {% for block in section.blocks %}
        {% case block.type %}

          {% when 'heading' %}
            {% if block.settings.heading != blank %}
              <div class="video-from-socials-heading-{{ block.id }}">{{ block.settings.heading }}</div>
            {% endif %}

          {% when 'text' %}
            {% if block.settings.text != blank %}
              <div class="video-from-socials-text-{{ block.id }}">{{ block.settings.text }}</div>
            {% endif %}   

        {% endcase %}
      {% endfor %}
      <div class="video-social-slider-{{ section.id }} swiper preview">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if block.type == 'video' %}
              <div class="video-social-card-{{ section.id }} swiper-slide">
                <div class="video-social-action-{{ section.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" role="presentation" class="video-social-mute-{{ section.id }}"><path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path></svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" class="video-social-unmute-{{ section.id }}" ><path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"></path></svg>
                </div>
                <div class="video-social-video-{{ section.id }}">

                  {% assign video_id =  block.settings.video.id | default: block.settings.video_url.id %}
                  {%- if block.settings.source != 'uploaded' -%}
                    {%- if block.settings.video_url != blank -%}                    
                      {% assign loop = '&loop=1&playlist=' | append: video_id %}                    
                      {%- if block.settings.video_url.type == 'youtube' -%}
                        <iframe
                          {% if lazy %}data-{% endif %}src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&controls=0{{ loop }}"
                          data-src1="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&controls=0&autoplay=1{{ loop }}"
                          data-src2="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&controls=0{{ loop }}"
                          class="lazy"
                          allow="autoplay; encrypted-media"
                          allowfullscreen
                          title="Fixed Video"
                        ></iframe>
                      {%- else -%}
                        <iframe
                          {% if lazy %}data-{% endif %}src="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&controls=0{{ loop }}"
                          data-src1="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&controls=0&autoplay=1{{ loop }}"
                          data-src2="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&controls=0{{ loop }}"
                          class="lazy"
                          allow="autoplay; encrypted-media"
                          allowfullscreen
                          title="Fixed Video"
                        ></iframe>
                      {% endif %}
                    {% else %}                
                      {% assign placeholder_video = 'https://cdn.shopify.com/videos/c/o/v/fbb140fd46e3429eba459e1549dbbe38.mp4' %}
                      <video {% if lazy %}data-{% endif %}src="{{ placeholder_video }}" muted {% if video_autoplay %}autoplay{% endif %} playsinline preload="none" {% if video_loop %}loop{% endif %} class="lazy"></video>
                    {% endif %}
                  {% else %}
                    {% assign placeholder_video = 'https://cdn.shopify.com/videos/c/o/v/fbb140fd46e3429eba459e1549dbbe38.mp4' %}
                    <video {% if lazy %}data-{% endif %}src="{% if block.settings.video != blank %}{{ block.settings.video.sources[1].url }}{% else %}{{ placeholder_video }}{% endif %} " {% if block.settings.poster != blank %}poster="{{ block.settings.poster | image_url }}"{% endif %} playsinline preload="none" loop class="lazy" disablepictureinpicture></video>
                  {% endif %}
                  
            
                </div>
                {% if block.settings.info != blank %}
                  <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}p{% endif %} class="video-social-info-{{ section.id }}">{{ block.settings.info }}</{% if block.settings.url != blank %}a{% else %}p{% endif %}>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <button class="video-social-btn-prev-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>
        <button class="video-social-btn-next-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>
      </div>      
      
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% if lazy %}
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>
{% endif %}

<script>
  function initVideoFromSocial3() {

    {% if lazy %}
      let lazyLoadInstance = new LazyLoad();
    
      window.addEventListener(
        "LazyLoad::Initialized",
        function (event) {
          window.lazyLoadInstance = event.detail.instance;
        },
        false
      );
    {% endif %}

    document.querySelector('.video-social-slider-{{ section.id }}').classList.remove('preview');
    const slider = new Swiper(".video-social-slider-{{ section.id }}", {
      speed: 300,
      spaceBetween: 20,
      loop: true,
      navigation: {
        nextEl: '.video-social-btn-next-{{ section.id }}',
        prevEl: '.video-social-btn-prev-{{ section.id }}',
      },
      breakpoints: {
        320: {
          spaceBetween: {{ slider_gap_mobile }},
          slidesPerView: {{ slider_view_mobile }}
        },
        768: {
          spaceBetween: {{ slider_gap_mobile }},
          slidesPerView: {{ slider_view | times: 0.5 | round: 0 }}
        },
        1024: {
          spaceBetween: {{ slider_gap }},
          slidesPerView: {{ slider_view }}
        }
      }
    });

    document.querySelectorAll('.video-social-card-{{ section.id }}').forEach(el => {
      let btn = el.querySelector('.video-social-action-{{ section.id }}');
      let frame = el.querySelector('iframe');
      let src;
      let src2;
      if(frame) {
        src = frame.getAttribute("data-src1");
        src2 = frame.getAttribute("data-src2");
      }
      let video = el.querySelector('video');
      if(btn) {
         btn.addEventListener('click', () => {
          btn.classList.toggle('active');
          if(btn.classList.contains('active')) {
            if(frame) {
              frame.src = src;
            }
            if(video) {
              video.play();
              video.muted = false;
              video.setAttribute("mute", "false"); 
            }
          } else {
            if(frame) {
              frame.src = src2;
            }
            if(video) {
              video.pause();
            }
          }
        }) 
      }
    })
  }

  document.addEventListener('DOMContentLoaded', initVideoFromSocial3);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initVideoFromSocial3);
     document.addEventListener('shopify:section:load', initVideoFromSocial3);
  }
</script>

{% schema %}
  {
    "name": "SS - Video from social #3",
    "settings": [
      {
        "type": "paragraph",
        "content":"⚠️ Save settings to see section in action"
      },    
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text_alignment",
        "id": "content_align",
        "label": "Alignment",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "content_align_mobile",
        "label": "Alignment - mobile",
        "default": "center"
      },   
      {
        "type": "header",
        "content": "Slider"
      },
      {
        "type": "range",
        "id": "slider_view",
        "min": 1,
        "max": 7,
        "step": 1,
        "label": "Videos per view",
        "default": 5
      },
      {
        "type": "range",
        "id": "slider_view_mobile",
        "min": 1,
        "max": 3,
        "step": 0.1,
        "label": "Videos per view - mobile",
        "default": 1.3
      },
      {
        "type": "checkbox",
        "id": "slider_advanced",
        "label": "Show advanced settings"
      },
      {
        "type": "range",
        "id": "slider_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 20,
        "visible_if": "{{ section.settings.slider_advanced }}"
      },
      {
        "type": "range",
        "id": "slider_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 20,
        "visible_if": "{{ section.settings.slider_advanced }}"
      },
      {
        "type": "range",
        "id": "slider_mt",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 24,
        "visible_if": "{{ section.settings.slider_advanced }}"
      },
      {
        "type": "range",
        "id": "slider_mt_mobile",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 36,
        "visible_if": "{{ section.settings.slider_advanced }}"
      },
      {
        "type": "header",
        "content": "Slide"
      },
      {
         "type": "range",
         "id": "card_radius",
         "min": 0,
         "max": 40,
         "step": 2,
         "unit": "px",
         "label": "Roundness",
         "default": 0
      },
      {
         "type": "range",
         "id": "card_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Border thickness",
         "default": 0
      },
      {
        "type": "select",
        "id": "video_ratio",
        "label": "Aspect ratio",
        "default": "portrait",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "video_ratio_mobile",
        "label": "Aspect ratio - mobile",
        "default": "portrait",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "header",
        "content": "Slide info"
      },
      {
        "type": "checkbox",
        "id": "info_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "info_font",
        "label": "Font family",
        "default": "josefin_sans_n4",
        "visible_if": "{{ section.settings.info_custom }}"
      },
      {
        "type": "range",
        "id": "info_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 15
      },
      {
        "type": "range",
        "id": "info_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "info_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },
      {
        "type": "text_alignment",
        "id": "info_align",
        "label": "Alignment"
      },
      {
        "type": "text_alignment",
        "id": "info_align_mobile",
        "label": "Alignment - mobile"
      },
      {
        "type": "header",
        "content": "Arrow "
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on mobile",
        "default": false
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 48,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 48,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size",
        "default": 8,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 8,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Hover effect",
        "default": "color",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}",
        "options": [
          {
            "label": "Change color",
            "value": "color"
          },
          {
            "label": "Change size",
            "value": "scale"
          },
          {
            "label": "Change arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "header",
        "content": "Play/pause button"
      },
      {
        "type": "range",
        "id": "action_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 48
      },
      {
        "type": "range",
        "id": "action_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 48
      },
      {
        "type": "range",
        "id": "action_icon_size",
        "min": 10,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Icon size",
        "default": 28
      },
      {
        "type": "range",
        "id": "action_icon_size_mobile",
        "min": 10,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 28
      },
      {
        "type": "range",
        "id": "action_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "header",
        "content": "Slide colors"
      },
      {
        "type": "color",
        "label": "Info",
        "id": "info_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "card_border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Arrow colors",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "arrow_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "arrow_hover_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "arrow_bg_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "arrow_bg_hover_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "arrow_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "arrow_border_hover_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "header",
        "content": "Play/pause button colors"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "action_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "action_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "action_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "action_bg_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "action_border_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "action_border_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Section colors"
      },
       {
        "type": "select",
        "id": "background_style",
        "label": "Background style",
        "default": "solid",
        "options": [
          {
            "label": "Solid",
            "value": "solid"
          },
          {
            "label": "Gradient",
            "value": "gradient"
          }
        ]
      },
      {
        "type": "color",
        "label": "Background",
        "id": "background_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.background_style == 'solid' }}"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Gradient",
        "default": "linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%)",
        "visible_if": "{{ section.settings.background_style == 'gradient' }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides - mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides - mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "page",
        "options": [
          {
            "label": "Page",
            "value": "page"
          },
          {
            "label": "Full",
            "value": "full"
          },
          {
            "label": "Custom",
            "value": "custom"
          }
        ]
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Content width",
        "default": 1200,
        "visible_if": "{{ section.settings.width == 'custom' }}"
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load media for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "select",
            "id": "source",
            "label": "Source",
            "default": "uploaded",
            "options": [
              {
                "label": "Uploaded",
                "value": "uploaded"
              },
              {
                "label": "External URL",
                "value": "external"
              }
            ]
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video",
            "visible_if": "{{ block.settings.source == 'uploaded' }}"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "label": "URL",
            "accept": ["youtube", "vimeo"],
            "visible_if": "{{ block.settings.source == 'external' }}",
            "info": "Use a YouTube or Vimeo URL"
          },
          {
            "type": "image_picker",
            "id": "poster",
            "label": "Thumbnail",
            "info":"Use when autoplay is turned off to remove blurry image",
            "visible_if": "{{ block.settings.source == 'uploaded' }}"
          },
          {
            "type": "text",
            "id": "info",
            "label": "Info",
            "default": "Tell your story"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      },
      {
        "type": "heading",
        "name": "Heading",
        "settings": [    
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "info": "Highlight important words by making them bold — bold text appears in the accent color.",
            "default": "<h2>Video from <strong>social #3</strong></h2>"
          },
          {
            "type": "checkbox",
            "id": "heading_custom",
            "label": "Use custom font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "heading_font",
            "label": "Font family",
            "default": "josefin_sans_n4",
            "visible_if": "{{ block.settings.heading_custom }}"
          },
          {
            "type": "range",
            "id": "heading_size",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Font size",
            "default": 52
          },
          {
            "type": "range",
            "id": "heading_size_mobile",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Font size - mobile",
            "default": 40
          },
           {
            "type": "checkbox",
            "id": "heading_advanced",
            "label": "Show advanced settings"
          },
          {
            "type": "range",
            "id": "heading_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Line height",
            "default": 130,
            "visible_if": "{{ block.settings.heading_advanced }}"
          },
          {
            "type": "range",
            "id": "heading_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Margin top",
            "default": 0,
            "visible_if": "{{ block.settings.heading_advanced }}"
          },
          {
            "type": "range",
            "id": "heading_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Margin top - mobile",
            "default": 0,
            "visible_if": "{{ block.settings.heading_advanced }}"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "label": "Text",
            "id": "heading_color",
            "default": "#121212"
          },
          {
            "type": "color",
            "label": "Accent text",
            "id": "heading_accent_color",
            "default": "#AFAFAF"
          }
        ]
      },   
      {
        "type": "text",
        "name": "Text",
        "settings": [    
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Tell your story</p>"
          },
          {
            "type": "checkbox",
            "id": "text_custom",
            "label": "Use custom font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "text_font",
            "label": "Font family",
            "default": "josefin_sans_n4",
            "visible_if": "{{ block.settings.text_custom }}"
          },
          {
            "type": "range",
            "id": "text_size",
            "min": 0,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Font size",
            "default": 18
          },
          {
            "type": "range",
            "id": "text_size_mobile",
            "min": 0,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Font size - mobile",
            "default": 16
          },
          {
            "type": "checkbox",
            "id": "text_advanced",
            "label": "Show advanced settings"
          },
          {
            "type": "range",
            "id": "text_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Line height",
            "default": 150,
            "visible_if": "{{ block.settings.text_advanced }}"
          },          
          {
            "type": "range",
            "id": "text_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Margin top",
            "default": 18,
            "visible_if": "{{ block.settings.text_advanced }}"
          },
          {
            "type": "range",
            "id": "text_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Margin top - mobile",
            "default": 16,
            "visible_if": "{{ block.settings.text_advanced }}"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "%",
            "label": "Max width",
            "default": 60,
            "visible_if": "{{ block.settings.text_advanced }}"
          },
          {
            "type": "range",
            "id": "text_max_width_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "%",
            "label": "Max width - mobile",
            "default": 100,
            "visible_if": "{{ block.settings.text_advanced }}"
          },
          {
            "type": "color",
            "label": "Color",
            "id": "text_color",
            "default": "#121212"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Video grid (social media) #3",
        "blocks": [
          {
            "type": "heading"
          },
           {
            "type": "text"
          },
          {
            "type": "video"
          },
          {
            "type": "video"
          },
          {
            "type": "video"
          },
          {
            "type": "video"
          },
          {
            "type": "video"
          },
          {
            "type": "video"
          },
          {
            "type": "video"
          },
          {
            "type": "video"
          }
        ]
      }
    ]
  }
{% endschema %}