<!-- sections/video_featured.liquid -->
{{ 'section.s.min.css' | asset_url | stylesheet_tag }}
{{ 'hero.s.min.css' | asset_url | stylesheet_tag }}
{%- liquid
	assign sid = section.id
    assign se_blocks = section.blocks
    assign se_stts = section.settings
    assign stt_layout = se_stts.layout
    assign bg_opacity = se_stts.bg_opacity | divided_by: 100.0 
    assign bg_overlay = se_stts.bg_overlay | color_modify: 'alpha', bg_opacity 
    assign se_height = se_stts.se_height
    assign video_url = se_stts.video_url 
    assign autoplay = se_stts.au_video
    assign loop = se_stts.loop_video

    if stt_layout == 't4s-se-container' 
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
    else
        assign html_layout = '__' | split: '__'
    endif
    assign t4s_se_class = 't4s_nt_se_' | append: sid
    if se_stts.use_cus_css and se_stts.code_cus_css != blank
        render 'se_cus_css', code_cus_css: se_stts.code_cus_css, t4s_se_class: t4s_se_class
    endif 
 -%}
{%- if se_height != "t4s_ratio_fh" -%}
    {%- capture append_style -%}--aspect-ratio-cusdt : {{ se_stts.height_dk }}px;--aspect-ratio-custb : {{ se_stts.height_tb }}px;--aspect-ratio-cusmb :{{ se_stts.height_mb }}px;{%- endcapture -%}
{%- endif -%}
<div class="t4s-section-inner {{ t4s_se_class }} t4s_nt_se_{{ sid }}" {% render 'section_style', se_stts: se_stts, append_style: append_style -%}>
    {{- html_layout[0] -}}
        <div data-t4s-animate class="t4s-bg-video t4s-video t4s-row-cols-1 t4s-gx-0 {{ se_height }} t4scuspx1_{{ se_stts.custom_mb }} t4scuspx2_{{ se_stts.custom_tb }} t4scuspx3_{{ se_stts.custom_dk }}" style="--bg-overlay:{{ bg_overlay }};">
            <div class="t4s-hero-inner t4s-col-item t4s-pr t4s-oh" timeline hdt-reveal="slide-in">
                <div class="t4s_ratio">
                    {%- if se_stts.source == '2' and se_stts.video != blank -%}
                        <video controls playsinline="playsinline" preload="metadata" aria-label="{{ se_stts.video.alt | escape }}" poster="{{ se_stts.video.preview_image | image_url: width: se_stts.video.preview_image.width }}" muted {% if autoplay %} autoplay{% endif %}{% if loop %} loop{% endif %}>
                            {%- for media in se_stts.video.sources -%}
                                <source src="{{ media.url }}" type="{{ media.mime_type }}">
                            {%- endfor -%}
                            <img src="{{ se_stts.video.preview_image | image_url: width: 100 }}" width="100" height="100" alt="{{ se_stts.video.alt | escape }}">
                        </video>
                    {%- elsif video_url.type == 'youtube' -%}
                        <iframe src="https://www.youtube.com/embed/{{ video_url.id }}?controls=1{% if autoplay %}&autoplay=1&mute=1{% endif %}{% if loop %}&playlist={{ video_url.id }}&loop=1{% endif %}&showinfo=0&rel=0&modestbranding=1&playsinline=1" title="{{ section.settings.video_url.alt | default: section.settings.video_url.id | escape }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    {%- elsif video_url.type == 'vimeo' -%}
                        <iframe src="https://player.vimeo.com/video/{{ video_url.id }}?portrait=0{% if autoplay %}&autoplay=1&muted=1{% endif %}{% if loop %}&loop=1{% endif %}&byline=0&color={{ settings.accent_color | remove_first: '#' }}" title="{{ section.settings.video_url.alt | default: section.settings.video_url.id | escape }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    {%- endif -%}              
                </div>
            </div>
        </div>
    {{- html_layout[1] -}}
</div>
{%- schema -%}
{
    "name":"精选视频",
    "tag": "section",
    "class": "t4s-section t4s-section-all",
    "settings":[
        {
            "type": "header",
            "content": "1. 常规选项"
        },
        {
            "type": "select",
            "id": "se_height",
            "label": "区块高度",
            "default": "t4s_ratio16_9",
            "options": [
                {
                    "value":"t4s_ratio_po",
                    "label":"保留原始比例"
                },
                {
                    "value": "t4s_ratio_fh",
                    "label": "全屏高度"
                },
                {
                    "value": "t4s_ratio_cuspx",
                    "label": "自定义高度"
                },
                {
                    "value": "t4s_ratio16_9",
                    "label": "16:9"
                },
                {
                    "value": "t4s_ratio4_3",
                    "label": "4:3"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "custom_dk",
            "label": "使用自定义高度（桌面端）",
            "default": true
        },
        {
            "type": "number",
            "id": "height_dk",
            "label": "区块高度（桌面端）",
            "default": 600
        },
        {
            "type": "checkbox",
            "id": "custom_tb",
            "label": "使用自定义高度（平板端）",
            "default": true
        },
        {
            "type": "number",
            "id": "height_tb",
            "label": "区块高度（平板端）",
            "default": 400
        },
        {
            "type": "checkbox",
            "id": "custom_mb",
            "label": "使用自定义高度（移动端）",
            "default": true
        },
        {
            "type": "number",
            "id": "height_mb",
            "label": "区块高度（移动端）",
            "default": 250
        }, 
        {
            "type": "select",
            "id": "source",
            "label": "视频来源",
            "default": "2",
            "options": [
                {
                    "value": "1",
                    "label": "YouTube"
                },
                {
                    "value": "2",
                    "label": "上传文件"
                }
            ]
        },
        {
            "id": "video_url",
            "type": "video_url",
            "label": "1. 视频链接",
            "accept": ["youtube","vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "video",
          "id": "video",
          "label": "2. 上传文件",
          "info": "从已上传文件中选择视频，建议文件小于 4 MB"
        },
        {
            "type":"checkbox",
            "id":"au_video",
            "label":"启用视频自动播放",
            "default":false
        },
        {
            "type":"checkbox",
            "id":"loop_video",
            "label":"启用视频循环播放",
            "default":true
        },     
        {
            "type": "color",
            "id": "bg_overlay",
            "label": "遮罩",
            "default": "#000"
        },
        {
            "type": "range",
            "id": "bg_opacity",
            "label": "遮罩透明度",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%"
        },
        {
            "type": "header",
            "content": "2. 设计选项"
        },
        {
            "type": "select","id": "layout","default": "t4s-container-fluid","label": "布局",
            "options": [
                { "value": "t4s-se-container", "label": "固定宽度"},
                { "value": "t4s-container-fluid", "label": "全宽"}
            ]
        },
        {
            "type": "color",
            "id": "cl_bg",
            "label": "背景"
        },
        {
            "type": "color_background",
            "id": "cl_bg_gradient",
            "label": "背景渐变"
        },
        {
            "type": "text",
            "id": "mg",
            "label": "外边距",
            "info":"依次填写上、右、下、左外边距；不使用请留空",
            "default": ",,50px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd",
            "label": "内边距",
            "info":"依次填写上、右、下、左内边距；不使用请留空",
            "placeholder": "50px,,50px,"
        },
        {
          "type": "header",
          "content": "+ 平板端设计选项"
        },
        {
          "type": "text",
          "id": "mg_tb",
          "label": "外边距",
          "placeholder": ",,50px,"
        },
        {
          "type": "text",
          "id": "pd_tb",
          "label": "内边距",
          "placeholder": ",,50px,"
        },
        {
            "type": "header",
            "content": "+ 移动端设计选项"
        },
        {
            "type": "text",
            "id": "mg_mb",
            "label": "外边距",
            "default":",,30px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_mb",
            "label": "内边距",
            "placeholder": ",,50px,"
        },
        {
            "type": "header",
            "content": "3. 自定义 CSS"
        },
        {
            "id": "use_cus_css",
            "type": "checkbox",
            "label": "使用自定义 CSS",
            "default":false,
            "info": "如需为此区块添加自定义样式，请启用。"
        },
        { 
            "id": "code_cus_css",
            "type": "textarea",
            "label": "自定义 CSS 代码",
            "info": "使用选择器 .SectionID 编写样式"
            
        }
    ],
    "presets": [
        {
            "category": "homepage",
            "name":"精选视频"
        }
    ]
}
{% endschema %}
